.nav {
    background-color: rgb(84, 84, 84);
    width: 700px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.nav-title {
    align-items: center;
    justify-content: flex-start;
    color: white;
    margin-left: 20px;
    margin-right: 170px;
}
.nav-links {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
li {
    margin: 10px;
}
ul {
    list-style-type: none;
}
.btn {
    background-color: rgb(32, 129, 129);
    color: white;
}
