.row {
    display: flex;
    background-color: whitesmoke;
    margin: 0 auto;
}
.col {
    height: 30px;
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: cyan;
}
.col-2 {
    height: 30px;
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: cyan;
}
.col-3 {
    height: 30px;
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: cyan;
}
